In [3]:
import pandas as pd
import numpy as np
import random

In [5]:
df=pd.DataFrame({"Length":[random.randrange(0, 1000) for i in range(0,100)],"Width":[random.randrange(0, 500) for i in range(0,100)]})
df.head()

   Length  Width
0     612    403
1     147    295
2     320    214
3     255    270
4     177     50

In [6]:
df.tail()

    Length  Width
95     435    370
96     727    453
97      17    186
98     220    443
99     638     55

In [12]:
#For Normal Random samples "https://docs.scipy.org/doc/numpy/reference/generated/numpy.random.normal.html"
mu, sigma = 0, 0.1 # mean and standard deviation
df=pd.DataFrame({"A":[np.random.normal(mu, sigma) for i in range(0,100)],"B":[np.random.normal(mu, sigma) for i in range(0,100)]})

In [13]:
df.head()

          A         B
0 -0.134301 -0.092966
1  0.082678  0.095053
2 -0.050829 -0.075278
3 -0.171306 -0.089246
4 -0.190406 -0.061466